.gradiente {
    background: linear-gradient(to bottom, var(--primary-color), var(--white-color));
}

.errorPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    text-align: center;

    .title {
        font-size: var(--font-size-title);
        font-weight: var(--font-weight-bold);
    }
    
    .description {
        font-size: var(--font-size-body);
    }

    .backButton {
        text-transform: none;
        background-color: var(--tertiary-color);

        &:hover {
            background-color: var(--tertiary-color-hover);
        }
    }
}

@media (width: 360px) {
    .errorPageContainer {
        min-height: 100vh;
    }
}
