.transactionalFormContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    .inputWrapper {
        position: relative;
        margin-bottom: 16px;
    }
    
    .customLabel {
        position: absolute;
        top: -10px;
        left: 0;
        padding: 0 5px;
        color: #444444;
        font-size: 16px;
        font-weight: 500;
    }
    
    .dropdown {
        width: 355px;
    }
    
    .input {
        width: 250px;
        margin-bottom: 0;
    }
    
    .errorMessage {
        color: #e57471;
        font-size: 14px;
        font-weight: 700;
        text-align: end;
    }
    
    .customInput .MuiOutlinedInput-root {
        background-color: #ffffff; /* Cor de fundo */
        color: #444444; /* Cor do texto */
    }
    
    /* Estilo para o hover e focus das bordas do Select e TextField */
    .customInput .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
    .customInput .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: #004D61 !important;
    }
    
    .submitButton {
        width: 250px;
        height: 48px;
        background-color: #004D61;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 400;
        text-transform: none;
    
        &:hover {
            background-color: #003C4F;
        }
    }
}


@media (max-width: 360px) {
    .transactionalFormContainer {
        .dropdown {
            width: 100%;
        }

        .title {
            text-align: center;
        }
    }
}
