.manageCardsContainer {
    .title {
        font-size: var(--font-size-title);
    }

    .subtitle {
        color: var(--accent-color);
        font-size: var(--font-size-subtitle);
        margin-top: 15px;
    }
}