.transactionsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .title {
        font-size: var(--font-size-title);
        font-weight: var(--font-weight-bold);
        color: var(--foreground-color);
        margin-bottom: 10px;
    }
}

@media (max-width: 360px) {
    .transactionsContainer {
        .title {
            text-align: center;
        }
    }
}
