.dialogContainer {
    .dialogTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-size-subtitle);
        font-weight: var(--font-weight-bold);
        color: var(--foreground-color);
        padding: 20px;
    }
    
    .dialogContent {
        padding-top: 20px !important;
        padding-bottom: 0;
    }
    
    .containerButton {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    
    .saveButton {
        width: 150px;
        text-transform: none;
        background-color: var(--primary-color);
        color: var(--white-color);

        &:hover {
            background-color: var(--primary-color-hover);
        }
    }
    
    .cancelButton {
        width: 150px;
        text-transform: none;
        background-color: var(--tertiary-color);
        color: var(--white-color);
        text-decoration: none;

        &:hover {
            background-color: var(--tertiary-color-hover);
        }
    }
}

