.dialogContainer {
    .dialogTitle {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-size-subtitle);
        font-weight: var(--font-weight-bold);
        color: var(--foreground-color);
        padding: 20px;
    }
    
    .dialogContentText {
        font-size: var(--font-size-body);
        color: var(--medium-gray-color);
    }

    .containerButton {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    
    .cancelButton {
        text-transform: none;
        background-color: var(--tertiary-color);
        color: var(--white-color);
        &:hover {
            background-color: var(--tertiary-color-hover);
        }
    }

    .confirmButton {
        text-transform: none;
        background-color: var(--primary-color);
        color: var(--white-color);
        &:hover {
            background-color: var(--primary-color-hover);
        }
    }
}
