.investmentsContainer {
    font-family: "Montserrat", sans-serif;

    .title {
        font-size: var(--font-size-title);
        margin-bottom: 25px;
    }

    .total {
        font-size: var(--font-size-title);
        color: var(--primary-color);
        margin-bottom: 20px;
    }

    .cardsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 30px;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 95px;
        background-color: var(--primary-color);
        color: var(--white-color);
        padding: 0 20px;
        border-radius: var(--border-radius-medium);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        .cardTitle {
            color: var(--lighter-gray-color);
            font-size: var(--font-size-body);
        }

        .cardAmount {
            font-size: var(--font-size-subtitle);
            text-align: center;
        }
    }

    .statistics {
        color: var(--foreground-color);
        font-size: var(--font-size-subtitle);
        margin-bottom: 20px;
    }

    .statisticsCard {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        background-color: var(--primary-color);
        border-radius: var(--border-radius-medium);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .chartLegendContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .chart {
        max-width: 200px;
    }

    .legend {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
            color: var(--white-color);
            font-size: var(--font-size-body);
        }
    }

    .blue {
        color: var(--blue-color);
    }

    .purple {
        color: var(--purple-color);
    }

    .pink {
        color: var(--pink-color);
    }

    .orange {
        color: var(--orange-colo);
    }
}

@media (max-width: 720px) {
    .cardsContainer {
        grid-template-columns: 1fr;
    }

    .statisticsCard {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 360px) {
    .investmentsContainer {
        .title {
            text-align: center;
        }
    
        .total {
            text-align: center;
        }

        .statistics {
            text-align: center;
        }

        .cardsContainer {
            grid-template-columns: 1fr;
            gap: 10px;
        }

        .chartLegendContainer {
            flex-direction: column;
        }
    }
}
