.footer {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 30px;

    .content {
        height: 160px;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    
        p {
            line-height: 40px;
        }
    }

    .listTitle {
        font-weight: 700;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 160px;
        justify-content: space-between;

        .socialMedia {
            display: flex;
            gap: 20px;
            align-items: center;
        }
    }
}