.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #000000;

    .primaryButton {
        height: 30px;
        text-transform: none;
    }
    
    .nav {
        display: flex;
        gap: 20px;
        align-items: center;
    
        a {
            color: #47a138;
            text-decoration: none;
            transition: color 0.3s, box-shadow 0.3s;
    
            &:hover { 
                color: #3c8a2b;
            }
        }
    }
}