.toolbar {
    display: flex;
    justify-content: flex-end;
    background-color: #004d61;
    width: 100%;
    padding: 0 300px;
    align-items: center;
}

.rightAligned {
    display: flex;
    align-items: center;
    gap: 16px;
}

.userName {
    margin-right: 16px;
}

.avatarImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
