.servicesTitle {
    font-weight: var(--font-weight-bold);
}

.servicesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.servicesItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
    background-color: var(--mist-gray-color);
    border-radius: var(--border-radius-medium);
    cursor: pointer;

    &:hover {
        background-color: var(--very-light-gray-color);
        transform: translateY(-5px);
    }

    p {
        font-size: var(--font-size-body);
        font-weight: var(--font-weight-bold);
    }
}

@media (max-width: 360px) {
    .servicesGrid {
        grid-template-columns: 1fr;
    }
}